<section id="github-contributions" class="max-w-5xl px-8 py-6 mx-auto">
  <h2 class="text-lg font-medium text-gray-900 mb-4 tracking-tight">
    GitHub Contribution Graph
  </h2>
  <img 
    src="https://ghchart.rshah.org/ahillahaffat" 
    alt="GitHub Contribution Graph"
    class="w-full max-w-5xl xl:max-w-6xl"
    loading="lazy"
  />
</section>