<section id="github-contributions" class="max-w-5xl px-4 md:px-8 py-6 mx-auto">
  <h2 class="text-2xl font-semibold text-gray-900 mb-4 tracking-tight text-center">
    GitHub Contribution Graph
  </h2>
  <div class="flex justify-center">
    <div id="github-calendar" class="w-full"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/github-calendar@2.3.4/dist/github-calendar.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // @ts-ignore
      GitHubCalendar("#github-calendar", "ahillahaffat", {
        responsive: true,
        tooltips: true,
        summary_text: " contributions in the last year",
        global_stats: true,
      });
    });
  </script>
</section>