<section class="overflow-hidden relative">
  <svg class="absolute inset-0 w-full h-full opacity-10" viewBox="0 0 1340 241" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="..." fill="black" />
  </svg>

  <div class="relative z-10 flex flex-col md:flex-row justify-between items-center gap-8 px-4 md:px-12 py-16 md:py-24 max-w-6xl mx-auto">
    
    <!-- Image Section (sebelah kiri dengan rasio 4:3) -->
    <div class="flex-1">
      <div class="w-full" style="aspect-ratio: 4 / 3;">
        <img
          class="rounded-lg shadow-lg w-full h-full object-cover mt-11 md:mt-10"
          src="/me.JPG"
          alt="Keuangan Blog"
        />
      </div>
    </div>

    <!-- Text Section (sebelah kanan) -->
    <div class="flex-1">
      <h2 class="text-3xl md:text-5xl mt-6 md:mt-12 tracking-tighter font-normal text-black leading-tight">
        Hi Gais &amp; Welcome To Kammala Blog 
      </h2>
      <ul class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-4 group h-full mt-6 md:mt-12">
        <li>
          <p>
            This site contains information about me, my writings, opinions, 
            and mostly serves as personal documentation for when I am learning or sharing something.
          </p>
        </li>
        <li>
          <p>
            I am a passionate and meticulous computer science student with a strong dedication to software development.
          </p>
        </li>
        <li class="col-span-full text-sm mt-6 md:mt-5">
          <a href="/files/cv_ahilla_kammala.pdf" download class="inline-flex items-center px-6 py-3 bg-gradient-to-r from-gray-800 via-gray-900 to-black text-white font-semibold text-sm rounded-lg shadow hover:bg-gradient-to-br hover:from-gray-700 hover:via-gray-800 hover:to-black transition duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Download CV
          </a>          
        </li>        
      </ul>
    </div>

  </div>
</section>
