<section class="scroll-mt-12" id="experience">
  <div class="px-8 md:px-12 py-8 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    Experience
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        I participated in the MSIB Batch 6 program at the Ministry of Finance as a Fullstack Developer.
        <br /><br />
        Previously, I also participated in MSIB Batch 5 at Dicoding in the same role as a Fullstack Developer. Here, I honed my software development skills thoroughly, both in frontend and backend.
      </p>
    </div>    
  </div>
  <div class="px-8 md:px-12  max-w-2xl mx-auto">
    <div class="grid grid-cols-2 gap-px rounded-3xl overflow-hidden sm:mx-0 ">
      <div class="p-8 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="/if.png"
          alt="Transistor"
          width="168"
          height="68"
        />
      </div>
      <div class="p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-16 w-full object-contain"
          src="/molca.png"
          alt="Reform"
          width="158"
          height="48"
        />
      </div>
      <div class="p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-12 w-full object-contain"
          src="/kemenkeu.png"
          alt="Reform"
          width="158"
          height="48"
        />
      </div>
      <div class="p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain"
          src="/dicoding1.png"
          alt="Reform"
          width="158"
          height="48"
        />
      </div>
      

      <!-- <div class=" p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain grayscale invert"
          src="/dicoding.png"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div>
      <div class=" p-6 sm:p-10 items-center flex bg-white">
        <img
          class="max-h-8 w-full object-contain grayscale invert"
          src="/calisteniaapp.svg"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div> -->
    </div>
  </div>
</section>
